body{
    background-color: black;
    display: grid;
    justify-content: center;
    align-items: center;
}
h1{
color: blue;
text-align: center;
}

.container{
    background-color: gold;
    width: 400px;
    height: 600px;
}
button{
    border-radius: 10px;
    width: 50px;
    height: 32px;
    border-color: blueviolet;
    margin-right: 5px;
    margin-left: 10px;
}
#submit-btn{
    border-color: black;
    margin-left: 2px;
}
input{
    border-radius: 10px;
    height: 30px;
    margin-right: 10px;
    margin-left: 0px;
}
li{
    background-color: white;
    border-bottom: 2px solid black;
    width: 20rem;
    padding: 5px;
    margin: 10px;
}
#add{
    margin-left: 100px;
}
